<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>搜黑平台查询_全国最大的查询曝光平台_搜黑</title>
<meta name="keywords" content="搜黑,黑平台,黑幕曝光平台"/>
<meta name="description" content="搜黑,全国性的交易市场曝光平台，携手每一位投资人共同揭开交易市场的层层黑幕，为投资者甄选安全可靠的交易平台，营造国内绿色透明的交易环境。"/>
<link rel="icon" href="__PUBLIC__/s.ico" type="image/x-icon" />
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/main.css"/>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/lightbox.css"/>
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.8.3.min.js" ></script>
<script type="text/javascript" src="__PUBLIC__/js/Validform_v5.3.2.js" ></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/main.js" ></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/lightbox.js" ></script>
<style type="text/css">
  a.num{
    margin-left: 5px;
    cursor:pointer;
  }
  span.current{
    margin-left: 5px;
    color: #3dafea;
  }
  a.num :hover{
    color: #3dafea;
  }
  .wysyij a.jp-current{
    color: #3dafea;
  }
  .wysyij a.jp-next:hover{
    color: #3dafea;
  }
  .undefined{display: none;}
  .bdshare-button-style0-16:after{display: inline-block !important;  zoom:1;}
</style>
</head>

<body>
<!--成功-->  
<div class="yzsbai1">
    <p id="tishi1"></p>
    <input name="" type="button" value="确 定" class="xigs1" />
</div>
<!--失败-->
<div class="yzsbai">
    <p id="tishi"></p>
    <input name="" type="button" value="确 定" class="xigs" />
</div>
<!--Begin--登录-->   
<include file="Public:login" />
<!--End--登录--> 
<div id="wrap">

<!--头部--Begin-->   
  <include file="Public:top" />
<!--头部--End-->

<!--内容--Begin-->     
   <div id="content">
     <div class="cxjg_tit">
     <h3>查询结果：暂未通过合规认证</h3>
          <div class="cxjg_tit_rt">
            <ul>
              <li class="frists"><span>加黑</span><em>{$wrz_list.add_blk_amount}</em></li>
                <li><span>点赞</span><em>{$wrz_list.assist_amount}</em></li>
                <li><span>评论</span><em>{$wrz_list.com_amount}</em></li>
                <li><span>曝光</span><em>{$wrz_list.exp_amount}</em></li>
            </ul>
          </div>
     </div>
     <div class="hptbox2 wrzbox2">
        <dl>
        	<dt>
            <if condition = "$wrz_list.logo_url neq '' " >
            <img src="{$wrz_list.logo_url}" />
            </if>
          </dt>
          <dd class="mizx">
          	<h3><a>{$wrz_list.company_name}</a></h3>
              <p><span>其他名称</span>
              <volist id="vo" name="bm_list">
              <a>{$vo.name}</a><a <if condition="$i eq count($bm_list)">class="last"</if>> 、</a>
              </volist>
              </p>
          </dd>
          <dd class="dzjh_btn">
                <a id="{$wrz_list.id}" href="javascript:void(0)" class="dianzjh1">点赞</a>
                <a id="{$wrz_list.id}" href="javascript:void(0)" class="dianzjh2">加黑</a>
                <b id="bb">+1</b>
          </dd>
        </dl>
        <div class="gongsijs">
           <table width="100%" border="0" cellspacing="0" cellpadding="0">
           
              <tr>
                <td width="76"><span>代理平台</span></td>
                <td width="320">
                <if condition="$wrz_list.agent_platform_n neq '' ">
                <a style="color: #183e60;" href="__APP__/Home/{$rzjb_url}" target="_blank"><em>{$wrz_list.agent_platform_n}</em></a>
                <else />
                数据正在整理...
                </if>
                </td>
                <td width="76"><span>会员编号</span></td>
                <td width="230">
                <if condition="$wrz_list.mem_sn neq '' ">
                <em>{$wrz_list.mem_sn}</em>
                <else />
                数据正在整理...
                </if>
                </td>
                <td width="76"><span>监管机构</span></td>
                <td>
                <if condition="$wrz_list.regulators_id_n neq '' ">
                {$wrz_list.regulators_id_n}
                <else />
                数据正在整理...
                </if>
                </td>
              </tr>
              <tr>
                <td><span>营业执照</span></td>
                <td>
                  <if condition="$wrz_list.busin_license gt 0 ">
                    <img src="__PUBLIC__/Home/images/pic20b.jpg" width="44" height="42"/>
                  <else />
                    <img src="__PUBLIC__/Home/images/pic20a.jpg" width="44" height="42"/>
                  </if>
                </td>
                <td><span>机构代码证</span></td>
                <td>
                   <if condition="$wrz_list.code_certificate gt 0 ">
                    <img src="__PUBLIC__/Home/images/pic20b.jpg" width="44" height="42"/>
                   <else />
                    <img src="__PUBLIC__/Home/images/pic20a.jpg" width="44" height="42"/>
                   </if>
                </td>
                <td><span>资质证明</span></td>
                <td>
                    <if condition="$wrz_list.certificate gt 0 ">
                      <img src="__PUBLIC__/Home/images/pic20b.jpg" width="44" height="42"/>
                    <else />
                      <img src="__PUBLIC__/Home/images/pic20a.jpg" width="44" height="42"/>
                    </if>
                </td>
              </tr>
              <tr>
              </tr>
              <tr>
                <td><span>联系电话</span></td>
                <td>
                <if condition="$wrz_list.telephone neq '' ">
                {$wrz_list.telephone}
                <else />
                数据正在整理...
                </if>
                </td>
                <td><span>官方网站</span></td>
                <td>
                <if condition="$wrz_list.website neq '' ">
                <a href="{$wrz_list.website}" target="_blank">{$wrz_list.website}</a>
                <else />
                数据正在整理...
                </if>                
                </td>
                <td><span>官网备案</span></td>
                <td>
                <if condition="$wrz_list.record neq '' ">
                {$wrz_list.record}
                <else />
                数据正在整理...
                </if>
                </td>
              </tr>
              <tr>
                <td><span>联系地址</span></td>
                <td colspan="5">
                <if condition="$wrz_list.reg_address neq '' ">
                {$wrz_list.reg_address}
                <else />
                数据正在整理...
                </if>
                </td>
              </tr>
            
       </table>
        </div>
     </div>
     <div class="wybgbox_lt">
     <!--媒体报道状态-->
       <div class="mtbaod">
             <if condition = "$record_count gt 0 " >
             <h3 class="titltes"><span>媒体报道</span>
                <if condition = "$record_count gt 5 " >
                 <a class="hyh" href="javascript:void(0)">换一换</a>
                </if>
             </h3> 
             </if>
          <if condition = "$record_count gt 2 " >
          <ul id="yhy_ul">
              <volist name="new_list" id="new_list">
               <li>
                  <a href="__APP__/Home/Article/article/id/{$new_list.id}/company_id/{$new_list.company_id}/p/1/">{$new_list.title}</a>
                  <span>{$new_list.add_time|date='Y-m-d H:i',###}</span>
               </li>
              </volist>
          </ul>
          <else />
          <volist name="new_list" id="new_list">
          <dl>
                <dt><a href="__APP__/Home/Article/article/id/{$new_list.id}/company_id/{$new_list.company_id}/p/1/"><img src="{$new_list.pic_url}" width="175" height="130" /></a></dt>
                <dd>
                  <h4><a href="__APP__/Home/Article/article/id/{$new_list.id}/company_id/{$new_list.company_id}/p/1/">{$new_list.title}</a></h4>
                    <div>{$new_list.content|subtext=110}</div>
                    <span>{$new_list.add_time|date='Y-m-d H:i',###}</span>
                </dd>
          </dl>
          </volist>
          </if>
        </div>
        <div class="baoguan_pl">
            <div class="baoguan_pl1 bgbox_tit">
               <a href="javascript:;" onclick="show_panel(this)" id="link_install_sql" class="bian">网友评论
               <span> 
               <if condition="$record_count_p lt 999 ">({$record_count_p})
               <else />(999+)
               </if></span></a><em>|</em>
               <a href="javascript:;" onclick="show_panel(this)" id="link_basic_setting">网友曝光<span>
                <if condition="$record_count_b lt 999 ">({$record_count_b})
                <else />(999+)
                </if>
               </span></a>
            </div>
            <div class="baoguan_pl2" id="div_install_sql">
                 <volist id="con_p" name="con_p" key="k" empty="还没有人评论过此公司哦，赶紧去吐槽吧！">
                 <dl class="pinglubox">
                     <dt class="pinglubox_lt"><a><img src="{$con_p.user_id}" /></a></dt>
                     <dd class="pinglubox_rt">
                        <if condition="$con_p.is_anonymous eq 0 ">
                          <h3 class="lmwy">{$con_p.nickname}</h3>
                        <else />
                         <h3 class="lmwy">{$con_p.suiji}</h3>
                        </if>   
                        <p class="pinglubox_xs">
                        <if condition="$con_p.type eq '005001'">
                          <em class="dinzan1"></em>
                        <elseif condition="$con_p.type eq '005002'"/>
                          <em class="jiahei"></em>
                        <else />
                          <em class="tiwen"></em>
                        </if>
                           <span>{$con_p.content}</span>
                        </p>
                        <div class="tubox">
                            <if condition="$con_p.pic_1 neq ''">
                            <a href="{$con_p.pic_1_url}" rel="lightbox[plants]"><img src="{$con_p.pic_1_url}"/></a>
                            </if>
                            <if condition="$con_p.pic_2_url neq ''">
                            <a href="{$con_p.pic_2_url}" rel="lightbox[plants]"><img src="{$con_p.pic_2_url}"/></a>
                            </if>
                            <if condition="$con_p.pic_3_url neq ''">
                            <a href="{$con_p.pic_3_url}" rel="lightbox[plants]"><img src="{$con_p.pic_3_url}"/></a>
                            </if>
                            <if condition="$con_p.pic_4_url neq ''">
                            <a href="{$con_p.pic_4_url}" rel="lightbox[plants]"><img src="{$con_p.pic_4_url}"/></a>
                            </if>
                            <if condition="$con_p.pic_5_url neq ''">
                            <a href="{$con_p.pic_5_url}" rel="lightbox[plants]"><img src="{$con_p.pic_5_url}"/></a>
                            </if>
                        </div> 
                        <div class="hfpl_chd">
                          <div class="timens">
                            <span>{$con_p.add_time}</span>
                            <p>
                            <span class="bdsharebuttonbox">
                                  <a href="#" class="bds_more" data-cmd="more">分享</a>
                            </span>|
                            <a class="ding" id="{$con_p.id}" rel="{$con_p.id}" href="javascript:void(0)">顶 <em>({$con_p.top_num})</em></a>|
                            <input type="hidden" class="hidd_company" value="{$con_p.company_id }">
                            <script>
                                  window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
                            </script>
                            <if condition="$con_p['re_sub']['record_count'] gt 0">
                            <a class="huifu_btn hfusd" href="javascript:void(0)">收起回复</a>
                            <em class="emem1">({$con_p['re_sub']['record_count']})</em>
                            <else />
                            <a class="huifu_btn" href="javascript:void(0)">回复</a>
                            <em class="emem">({$con_p['re_sub']['record_count']})</em>
                            </if>
                            </p>
                          </div>
                          <if condition="$con_p['re_sub']['record_count'] gt 0">
                          <div class="showhide" style="display:block">
                          <else />
                          <div class="showhide" style="display:none">
                          </if>
                              <div id="itemContainer_{$con_p.id}"></div>
                              <div class="wysyij">
                                <div class="pages" id="pages_{$con_p.id}" rel="{$con_p.id}"></div>
                                <a href="javascript:void(0)" class="wzsyiju">我也说一句</a>
                              </div>
                              <div class="fanbiaob">
                                  <textarea name="saytext" id="saytext{$k}" class="saytext" autocomplete="off"></textarea>
                              <div class="tisbox">
                                  <input class="fb" name="" type="button" value="发表" id="{$con_p.id}" />
                                  <a data-id="{$k}" href="javascript:void(0)"  class="touxin emotion">&nbsp;</a>
                                    <input type="hidden" class="p3" name="p3" value="{$con_p.company_id}">  
                              </div>
                             </div>
                          </div>
                        </div>
                     </dd>
                 </dl>
                 </volist>
                 <ul class="page">
                    <li>{$page}</li>
                 </ul>
            </div>
            <div class="baoguan_pl2 hide" id="div_basic_setting">
              <volist id="con_b" name="con_b" key="kk" empty="还没有用户曝光过此公司那，我要去曝光一个！">
                 <dl class="pinglubox">
                     <dt class="pinglubox_lt"><a><img src="{$con_b.user_id}" /></a></dt>
                     <dd class="pinglubox_rt">
                          <if condition="$con_b.is_anonymous eq 0 ">
                          <h3>{$con_b.nickname}</h3>
                          <else />
                          <h3>{$con_b.suiji}</h3>
                          </if> 
                          <div class="bggs">
                              <div class="bggs_lt"><span>被曝光公司：</span><a title="{$con_b.company_name}">{$con_b.company_name|subtext=11}</a></div>
                                <div class="bggs_rt"><span>官方网址：</span><a href="{$con_b.website}" target="_blank" title="{$con_b.website}">{$con_b.website|subtext=24}</a></div>
                          </div>
                          <p class="pinglubox_xs">{$con_b.content}</p>
                          <div class="tubox">
                            <if condition="$con_b.pic_1_url neq ''">
                            <a href="{$con_b.pic_1_url}" rel="lightbox[plants]"><img src="{$con_b.pic_1_url}"/></a>
                            </if>
                            <if condition="$con_b.pic_2_url neq ''">
                            <a href="{$con_b.pic_2_url}" rel="lightbox[plants]"><img src="{$con_b.pic_2_url}"/></a>
                            </if>
                            <if condition="$con_b.pic_3_url neq ''">
                            <a href="{$con_b.pic_3_url}" rel="lightbox[plants]"><img src="{$con_b.pic_3_url}"/></a>
                            </if>
                            <if condition="$con_b.pic_4_url neq ''">
                            <a href="{$con_b.pic_4_url}" rel="lightbox[plants]"><img src="{$con_b.pic_4_url}"/></a>
                            </if>
                            <if condition="$con_b.pic_5_url neq ''">
                            <a href="{$con_b.pic_5_url}" rel="lightbox[plants]"><img src="{$con_b.pic_5_url}"/></a>
                            </if>
                          </div>
                       <div class="hfpl_chd">
                         <div class="timens">
                            <span>{$con_b.add_time}</span>
                            <p>
                            <span class="bdsharebuttonbox">
                              <a href="#" class="bds_more" data-cmd="more">分享</a>
                            </span>|
                            <a class="b_ding" id="{$con_b.id}" rel="{$con_b.id}" href="javascript:void(0)">顶 <em>({$con_b.top_num})</em></a>|
                            <script>
                                  window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
                            </script>
                            <if condition="$con_b['sub']['record_count'] gt 0">
                            <a class="huifu_btn hfusd" href="javascript:void(0)">收起回复</a>
                            <em class="emem1">({$con_b['sub']['record_count']})</em>
                            <else />
                            <a class="huifu_btn" href="javascript:void(0)">回复</a>
                            <em class="emem">({$con_b['sub']['record_count']})</em>
                            </if>
                            </p>
                          </div>
                          <if condition="$con_b['sub']['record_count'] gt 0">
                          <div class="showhide" style="display:block">
                          <else />
                          <div class="showhide" style="display:none">
                          </if>
                           <div id="wybglist_{$con_b.id}"></div>
                           <div class="wysyij">
                              <div class="pagess" id="pagess_{$con_b.id}" rel="{$con_b.id}"></div>
                              <a href="javascript:void(0)" class="wzsyiju">我也说一句</a>
                            </div>
                           <div class="fanbiaob">
                             <textarea name="saytext" id="saytext{$con_b.id}" class="saytext" autocomplete="off"></textarea>
                             <div class="tisbox">
                                  <input class="bg_but" name="button" type="button" value="发表" id="{$con_b.id}" />
                                  <a data-id="{$con_b.id}" href="javascript:void(0)"  class="touxin emotion">&nbsp;</a>
                                  <input type="hidden" class="b3" name="b3" value="{$con_b.id}"> 
                             </div>
                           </div>
                         </div>
                         </div>
                     </dd>
                 </dl> 
                 </volist>
                 <ul class="page">
                    <li>{$pages}</li>
                 </ul>
            </div>
        </div>
     </div>
     <div class="textbox_rt">
      <div  id="fixeds">
       <div class="rzpttj">
       <h3 class="titltes">我要评论</h3>
       <form id="theForm" name="theForm" method="post" enctype="multipart/form-data" onsubmit="return ValidateFile()">
         <p class="wypl_wypl1">
           <span><input class="wypl" name="wypl" type="radio" value="005001" checked="checked" />点赞</span>
           <!-- <span><input class="wypl" name="wypl" type="radio" value="005002" />提问</span> -->
           <span><input class="wypl" name="wypl" type="radio" value="005003" />加黑</span>
         </p>
         <p class="wypl_wypl2">
            <textarea name="saytext" id="saytext0" class="saytext" autocomplete="off"></textarea>
         </p>
           <p class="wypl_wypl3">
           <a data-id="0" href="javascript:void(0)"  class="touxin emotion">&nbsp;</a>
           <a href="javascript:void(0)" class="tupian">&nbsp;</a>
           <span><input name="is_anonymous" id="checkbox-id" type="checkbox" value="1" />匿名评论</span>
         </p>
         <div class="filebox">
            <ul>
               <li><input name="N" id="N" type="file" autocomplete="off" /><a>删除</a></li> 
               <li style="display:none" > <input name="N1" id="N1" type="file" autocomplete="off"/><a>删除</a></li>
               <li style="display:none" ><input name="N2" id="N2" type="file" autocomplete="off" /><a>删除</a></li>
               <li style="display:none" ><input name="N3" id="N3" type="file" autocomplete="off" /><a>删除</a></li>
               <li style="display:none" ><input name="N4" id="N4" type="file" autocomplete="off" /><a>删除</a></li>  
           </ul>
         </div>
         <p class="wypl_wypl5">
           <img id="verifyImg" class="verify" name="verify" src="__URL__/verify_c" title="点击刷新" onclick="this.src=this.src+'?'" />
           <input name="verify" id="verify" type="text" autocomplete="off" />
           <span style="display:none;" id="verify_ex" class="Validform_checktip">请输入验证码</span>
         </p>
         <p class="wypl_wypl4">
            <input name="submit" type="submit" value="发表评论" class="sub_btn" />
            <input type="hidden" id="hidden_id" name="company_id" value="{$wrz_list.id}">
         </p>
         </form>
       </div>
       <div class="hgrzs wybg_a"><a href="__APP__/home/Inexposure/authentication">合规认证</a></div>
       </div>
     </div>
     <div class="clear"></div>
  </div>
<!--内容--End--> 

<!--底部--Begin-->     
<include file="Public:footer" />
<!--底部--End--> 

</div>
</body>
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.qqFace.js" ></script>
<script>
//评论
  function ValidateFile() {
     var content = document.getElementById("saytext0").value;
     var tmp1 = document.getElementById("N").value; 
     var tmp2 = document.getElementById("N1").value;
     var tmp3 = document.getElementById("N2").value;
     var tmp4 = document.getElementById("N3").value;
     var tmp5 = document.getElementById("N4").value;
     var verify = document.getElementById("verify").value;
     var verify_ex = document.getElementById("verify_ex").innerHTML;
     var userid = '{$userid}';
     if (content == "") {
        $('#tishi').text("评论内容不能为空！");
        $(".bd_wd").css("width", $(document).width());
        $(".bd_wd").css("height", $(document).height());
        $(".bd_wd").show();
        $(".yzsbai").show();
        return false;
     }else if(content.length > 400){
        $('#tishi').text("评论内容最多为400字符");
        $(".bd_wd").css("width", $(document).width());
        $(".bd_wd").css("height", $(document).height());
        $(".bd_wd").show();
        $(".yzsbai").show();
        return false;
     }
     if (userid == "") {
        $(".bd_wd").css("width", $(document).width());
        $(".bd_wd").css("height", $(document).height());
        $(".bd_wd").show();
        $("#tcwindows1").show();
        return false;
     } 
     if (verify == "") {
        $(".wypl_wypl5").show();
        if(verify == "" && verify_ex == '验证码不能为空'){
          $('#tishi').text("请输入验证码！");
          $(".bd_wd").css("width", $(document).width());
          $(".bd_wd").css("height", $(document).height());
          $(".bd_wd").show();
          $(".yzsbai").show();
          return false;
        } 
        return false;
      }
     if(tmp1 != ""){
      if(!/.(gif|jpg|jpeg|png|GIF|JPG|png)$/.test(tmp1)){
        $('#tishi').text("图片类型必须是.gif,jpeg,jpg,png中的一种！");
        $(".bd_wd").css("width", $(document).width());
        $(".bd_wd").css("height", $(document).height());
        $(".bd_wd").show();
        $(".yzsbai").show();
        return false;
      }
    }
    if(tmp2 != ""){
      if(!/.(gif|jpg|jpeg|png|GIF|JPG|png)$/.test(tmp2)){
        $('#tishi').text("图片类型必须是.gif,jpeg,jpg,png中的一种！");
        $(".bd_wd").css("width", $(document).width());
        $(".bd_wd").css("height", $(document).height());
        $(".bd_wd").show();
        $(".yzsbai").show();
        return false;
      }
    }
    if(tmp3 != ""){
      if(!/.(gif|jpg|jpeg|png|GIF|JPG|png)$/.test(tmp3)){
        $('#tishi').text("图片类型必须是.gif,jpeg,jpg,png中的一种！");
        $(".bd_wd").css("width", $(document).width());
        $(".bd_wd").css("height", $(document).height());
        $(".bd_wd").show();
        $(".yzsbai").show();
        return false;
      }
    }
    if(tmp4 != ""){
      if(!/.(gif|jpg|jpeg|png|GIF|JPG|png)$/.test(tmp4)){
        $('#tishi').text("图片类型必须是.gif,jpeg,jpg,png中的一种！");
        $(".bd_wd").css("width", $(document).width());
        $(".bd_wd").css("height", $(document).height());
        $(".bd_wd").show();
        $(".yzsbai").show();
        return false;
      }
    }
    if(tmp5 != ""){
      if(!/.(gif|jpg|jpeg|png|GIF|JPG|png)$/.test(tmp5)){
        $('#tishi').text("图片类型必须是.gif,jpeg,jpg,png中的一种！");
        $(".bd_wd").css("width", $(document).width());
        $(".bd_wd").css("height", $(document).height());
        $(".bd_wd").show();
        $(".yzsbai").show();
        return false;
      }
    } 
    //表单提交
    var fd = new FormData(document.getElementById("theForm"));
    fd.append("content", content);
    $.ajax({
      url: "__URL__/comment_add",
      type: "POST",
      data: fd,
      enctype: 'multipart/form-data',
      processData: false,  // tell jQuery not to process the data
      contentType: false   // tell jQuery not to set contentType
    }).done(function( data ) {
      if (data) {
        $(".bd_wd").css("width", $(document).width());
        $(".bd_wd").css("height", $(document).height());
        $(".bd_wd").show();
        if (data == 0) {
          $('#tishi1').text("评论成功！");
          $(".yzsbai1").show();
          return false;
        }else if(data == -1){
          $('#tishi').text("评论失败！");
          $(".yzsbai").show();
          return false;
        }else if(data == 1){
          $('#tishi').text("图片上传失败！");
          $(".yzsbai").show();
          return false;
        }else if(data == 2){
          $('#tishi').text("没有文件上传！");
          $(".yzsbai").show();
          return false;
        }else if(data == 3){
          $('#tishi').text("文件上传错误！");
          $(".yzsbai").show();
          return false;
        }else if(data == 4){
          $('#tishi').text("上传文件不能大于350kb！");
          $(".yzsbai").show();
          $('#verifyImg').click();
          $('#verify').val("");
          return false;
        }else if(data == 5){
          $('#tishi').text("图片格式错误！");
          $(".yzsbai").show();
          return false;
        }else if(data == 6){
          $('#tishi').text("评论内容不能为空！");
          $(".yzsbai").show();
          return false;
        }else if(data == 7){
          $('#tishi').text("验证码错误！");
          $(".yzsbai").show();
          return false;
        }
      }
    });
    return false;     
}
  $(function(){
      //表单验证
      $(".registerform").Validform({
          tiptype:function(msg,o,cssctl){
            if(!o.obj.is("form")){
              var objtip=o.obj.siblings(".Validform_checktip");
              cssctl(objtip,o.type);
              objtip.text(msg);
            }
          }
      });
      //表情
      $('.emotion').qqFace({
        id : 'facebox', 
        assign:'saytext', 
        path:'__PUBLIC__/Home/arclist/' //表情存放的路径
      });
      //加黑
      $('.dianzjh2').click(function(){
              var id        = $(this).attr('id');//获取id属性
              var userid    = '{$userid}';
              if (userid == "") {
                $(".bd_wd").css("width", $(document).width());
                $(".bd_wd").css("height", $(document).height());
                $(".bd_wd").show();
                $("#tcwindows1").show();
                return false; 
              }
              $.ajax({  
                  type:"post",  
                  url:"{$call_url}",
                  timeout: 5000,  
                  dataType:"json",  
                  data:{"method":"Addblack.add","type":"text","content":{"company_id":id,"user_id":userid}},
                  success: function aa(data) {  
                       if (200 == data.status_code) {
                          if (0 == data.content.is_success) {
                            if(!$('#bb').is(':visible')){ 
                              $('#bb').css({display:'block', top:'-25px'}).animate({top: '+25'}, 500, 
                              function(){ 
                                setTimeout(out, 600); 
                              }); 
                            } 
                            window.location.reload();
                            return false;
                          }else if(-1 == data.content.is_success){
                            $('#tishi').text("操作失败！");
                            $(".bd_wd").css("width", $(document).width());
                            $(".bd_wd").css("height", $(document).height());
                            $(".bd_wd").show();
                            $(".yzsbai").show();
                            return false;
                          }else if(-2 == data.content.is_success){
                            $('#tishi').text("您已经操作过，不能重复！");
                            $(".bd_wd").css("width", $(document).width());
                            $(".bd_wd").css("height", $(document).height());
                            $(".bd_wd").show();
                            $(".yzsbai").show();
                            return false;
                          } 
                       }else{
                          $('#tishi').text("您已经操作过，不能重复！");
                          $(".bd_wd").css("width", $(document).width());
                          $(".bd_wd").css("height", $(document).height());
                          $(".bd_wd").show();
                          $(".yzsbai").show();
                          return false;
                       }
                  }  
              })  
      });
      //点赞
      $('.dianzjh1').click(function(){
              var id        = $(this).attr('id');//获取id属性
              var userid    = '{$userid}';
              if (userid == "") {
                $(".bd_wd").css("width", $(document).width());
                $(".bd_wd").css("height", $(document).height());
                $(".bd_wd").show();
                $("#tcwindows1").show();
                return false; 
              }
              $.ajax({  
                  type:"post",  
                  url:"{$call_url}",
                  timeout: 5000,  
                  dataType:"json",  
                  data:{"method":"Companyassist.add","type":"text",
                  "content":{"company_id":id,"user_id":userid}},
                  success: function aa(data) {  
                       if (200 == data.status_code) {
                          if (0 == data.content.is_success) {
                            if(!$('#bb').is(':visible')){ 
                              $('#bb').css({display:'block', top:'-25px'}).animate({top: '+25'}, 500, 
                              function(){ 
                                setTimeout(out, 600); 
                              }); 
                            } 
                            window.location.reload();
                            return false;
                          }else if(-1 == data.content.is_success){
                            $('#tishi').text("操作失败！");
                            $(".bd_wd").css("width", $(document).width());
                            $(".bd_wd").css("height", $(document).height());
                            $(".bd_wd").show();
                            $(".yzsbai").show();
                            return false;
                          }else if(-2 == data.content.is_success){
                            $('#tishi').text("您已经操作过，不能重复！");
                            $(".bd_wd").css("width", $(document).width());
                            $(".bd_wd").css("height", $(document).height());
                            $(".bd_wd").show();
                            $(".yzsbai").show();
                            return false;
                          } 
                       }else{
                          $('#tishi').text("您已经操作过，不能重复！");
                          $(".bd_wd").css("width", $(document).width());
                          $(".bd_wd").css("height", $(document).height());
                          $(".bd_wd").show();
                          $(".yzsbai").show();
                          return false;
                       }
                  }  
              })  
      });
      //评论顶
      $('.ding').click(function(){
            var id        = $(this).attr('id');//获取企业id属性
            var companyid = $(this).parents('.timens').find('.hidd_company').val();
            var userid    = '{$userid}';
            if (userid == "") {
                $(".bd_wd").css("width", $(document).width());
                $(".bd_wd").css("height", $(document).height());
                $(".bd_wd").show();
                $("#tcwindows1").show();
                return false;
            }
            $.ajax({  
                type:"post",  
                url:"{$call_url}",
                timeout: 5000,  
                dataType:"json",  
                data:{"method":"Comtop.add","type":"text",
                "content":{"company_id":companyid,
                     "user_id":userid,
                     "comment_id":id}},
                success: function aa(data) {  
                     if (200 == data.status_code && 0 == data.content.is_success) {
                          //alert('顶+1');//模拟异步数据加1
                          window.location.reload();
                          return false;  
                     }else{
                        $('#tishi').text("明天再来吧！");
                        $(".bd_wd").css("width", $(document).width());
                        $(".bd_wd").css("height", $(document).height());
                        $(".bd_wd").show();
                        $(".yzsbai").show();
                        return false;
                     }
                }  
            })  
      });
      //评论回复
      $('.fb').click(function(){
            var id        = $(this).attr('id');//获取企业id属性
            var type      = '005001';
            var content_ex= $(this).parents('.fanbiaob').find('.saytext').val();
            var content   = urlencode(content_ex);
            var companyid = $(this).parents('.fanbiaob').find('.p3').val();
            var userid    = '{$userid}';
            if (content_ex == "") {
              $('#tishi').text("评论内容不能为空！");
              $(".bd_wd").css("width", $(document).width());
              $(".bd_wd").css("height", $(document).height());
              $(".bd_wd").show();
              $(".yzsbai").show();
              return false;
            }else if(content_ex.length > 400){
              $('#tishi').text("评论内容最多为400字符！");
              $(".bd_wd").css("width", $(document).width());
              $(".bd_wd").css("height", $(document).height());
              $(".bd_wd").show();
              $(".yzsbai").show();
              return false;
            }
            if (userid == "") {
              $(".bd_wd").css("width", $(document).width());
              $(".bd_wd").css("height", $(document).height());
              $(".bd_wd").show();
              $("#tcwindows1").show();
              return false;
            }
            $.ajax({  
                type:"post",  
                url:"{$call_url}",
                timeout: 5000,  
                dataType:"json",  
                data:{"method":"Comment.add","type":"text",
                "content":{"company_id":companyid,
                     "user_id":userid,
                     "type":type,
                     "content":content,
                     "parent_id":id}},
                success: function aa(data) {  
                     if (200 == data.status_code && 0 == data.content.is_success) {
                          $('#tishi1').text("回复成功！");
                          $(".bd_wd").css("width", $(document).width());
                          $(".bd_wd").css("height", $(document).height());
                          $(".bd_wd").show();
                          $(".yzsbai1").show();
                          return false;  
                     }else{
                        $('#tishi').text("回复失败!");
                        $(".bd_wd").css("width", $(document).width());
                        $(".bd_wd").css("height", $(document).height());
                        $(".bd_wd").show();
                        $(".yzsbai").show();
                        return false;
                     }
                }  
            })  
      });
      //回复获取用户名
      $('.huifu').live('click',function(){
        var nickname = $(this).attr('id');//获取企业id属性
        var gd       = " 回复 ";
        $(this).parents(".showhide").find('.fanbiaob').show();
        $(this).parents(".showhide").find('.saytext').val(gd+nickname+'：');
      })
      //我也说一句
      $('.wzsyiju').click(function(){
        if($(this).parents(".showhide").find('.fanbiaob').css('display') == 'none'){       
          $(this).parents(".showhide").find('textarea').select();
          $(this).parents(".showhide").find('textarea').val("");
          $(this).parents(".showhide").find('.fanbiaob').show();  
        }else{ 
          $(this).parents(".showhide").find('.fanbiaob').hide();
        }
      });
      //-------------------网友曝光--------------------//
    //网友曝光顶
    $('.b_ding').click(function(){
          var id        = $(this).attr('id');
          var userid    = '{$userid}';
          if (userid == "") {
              $(".bd_wd").css("width", $(document).width());
              $(".bd_wd").css("height", $(document).height());
              $(".bd_wd").show();
              $("#tcwindows1").show();
              return false;
          }
          $.ajax({  
              type:"post",  
              url:"{$call_url}",
              timeout: 5000,  
              dataType:"json",  
              data:{"method":"Exposaltop.add","type":"text",
              "content":{"user_id":userid,"exposal_id":id}},
              success: function aa(data) {  
                   if (200 == data.status_code && 0 == data.content.is_success) {
                        //alert('顶+1');//模拟异步数据加1
                        window.location.reload(); 
                        return false; 
                   }else{
                      $('#tishi').text("明天再来吧！");
                      $(".bd_wd").css("width", $(document).width());
                      $(".bd_wd").css("height", $(document).height());
                      $(".bd_wd").show();
                      $(".yzsbai").show();
                      return false;
                   }
              }  
          })  
    });
    //网友曝光评论
    $('.bg_but').click(function(){
          var exposal_id = $(this).attr('id');//获取企业id属性
          var content_ex = $(this).parents('.fanbiaob').find('.saytext').val();
          var content    = urlencode(content_ex);
          var userid     = '{$userid}';
          if (content_ex == "") {
            $('#tishi').text("评论内容不能为空!");
            $(".bd_wd").css("width", $(document).width());
            $(".bd_wd").css("height", $(document).height());
            $(".bd_wd").show();
            $(".yzsbai").show();
            return false;
          }else if(content_ex.length > 400){
            $('#tishi').text("评论内容最多为400字符!");
            $(".bd_wd").css("width", $(document).width());
            $(".bd_wd").css("height", $(document).height());
            $(".bd_wd").show();
            $(".yzsbai").show();
            return false;
          }
          if (userid == "") {
              $(".bd_wd").css("width", $(document).width());
              $(".bd_wd").css("height", $(document).height());
              $(".bd_wd").show();
              $("#tcwindows1").show();
              return false; 
          }
          $.ajax({  
              type:"post",  
              url:"{$call_url}",
              timeout: 5000,  
              dataType:"json",  
              data:{"method":"Comexposal.add","type":"text",
              "content":{"exposal_id":exposal_id,
                   "user_id":userid,
                   "content":content}},
              success: function aa(data) {  
                   if (200 == data.status_code && 0 == data.content.is_success) {
                        $('#tishi1').text("回复成功!");
                        $(".bd_wd").css("width", $(document).width());
                        $(".bd_wd").css("height", $(document).height());
                        $(".bd_wd").show();
                        $(".yzsbai1").show();
                        return false;  
                   }else{
                        $('#tishi').text("回复失败!");
                        $(".bd_wd").css("width", $(document).width());
                        $(".bd_wd").css("height", $(document).height());
                        $(".bd_wd").show();
                        $(".yzsbai").show();
                        return false;
                   }
              }  
          })  
    });
  });
  //urlencode数据转换
  function urlencode (str) {  
      str = (str + '').toString();   
      return encodeURIComponent(str).replace(/!/g, '%21').replace(/'/g, '%27').replace(/\(/g, '%28').  
      replace(/\)/g, '%29').replace(/\*/g, '%2A').replace(/%20/g, '+');  
  }        
</script>
<script type="text/javascript">
///回复
    $(function (){
      var dings=[];
    $(".ding").each(function(){
      dings.push($(this).attr('rel'));
    })
    var ids=$(".hidd_company").val();
      for (var i = 0; i < dings.length; i++) {
        var id=dings[i];
        var url="__URL__/query_yrz_hf/parent_id/"+id+"/uId/"+ids;
        getDate(url,id);
      };
      
      //pages
      $('.pages a').live('click',function(){
      var parentId = $(this).parents('.pages').attr('rel');
          var href=$(this).attr("href");
          getDate(href,parentId);
      return false;
    });
    });

    //ajax
       function getDate(url,ids){
        $.ajax({
          type: 'GET',
          url: url,
          dataType: 'json',
          contentType: "application/x-www-form-urlencoded; charset=utf-8",
          //data: {'pages':1},
          beforeSend: function () {              
          },
          success: function (data) {
            $("#itemContainer_"+ids).empty();
            $("#pages_"+ids).empty();
            var lis="";
            var lists=data;
            $.each(lists,function (index,array){
               lis +='<dl class="'+array['id']+'"><dt><a href="#"><img src="'+array['user_id']+'" /></a></dt><dd><p><a href="#">'+array['nickname']+'：</a>'+array['content']+'</p><p class="timen"><span>'+array['add_time']+'</span><a class="huifu" id="'+array['nickname']+'" href="javascript:void(0)">回复</a></dd></dl>';
            });
             $("#itemContainer_"+ids).append(lis);
             $("#pages_"+ids).append(data.pages);
          },
          complete: function () {
          },
          error: function () {
            alert("数据加载中......")
          }
        });
      }
</script>
<script type="text/javascript">
///回复
    $(function (){
      var ddings=[];
      $(".b_ding").each(function(){
          ddings.push($(this).attr('rel'));
      })
      var idds=$(".b3").val();
      for (var i = 0; i < ddings.length; i++) {
          var id=ddings[i];
          var url="__URL__/query_wybg_hf/exposal_id/"+id;
          b_getDate(url,id);
      };
        
      //pages
      $('.pagess a').live('click',function(){
          var parentId = $(this).parents('.pagess').attr('rel');
          var href=$(this).attr("href");
          b_getDate(href,parentId);
          return false;
      });
    });
    //ajax
    function b_getDate(url,idds){
      $.ajax({
        type: 'GET',
        url: url,
        dataType: 'json',
        contentType: "application/x-www-form-urlencoded; charset=utf-8",
        //data: {'pages':1},
        beforeSend: function () {              
        },
        success: function (data) {
          $("#wybglist_"+idds).empty();
          $("#pagess_"+idds).empty();
          var lis="";
          var lists=data;
          $.each(lists,function (index,array){
             lis +='<dl class="'+array['id']+'"><dt><a href="#"><img src="'+array['user_id']+'" /></a></dt><dd><p><a href="#">'+array['nickname']+'：</a>'+array['content']+'</p><p class="timen"><span>'+array['add_time']+'</span><a class="huifu" id="'+array['nickname']+'" href="javascript:void(0)">回复</a></dd></dl>';
          });
           $("#wybglist_"+idds).append(lis);
           $("#pagess_"+idds).append(data.pagess);
        },
        complete: function () {
        },
        error: function () {
          alert("数据加载中......")
        }
      });
    }
</script>
<script type="text/javascript">
/**************新闻换一换*****************/
$(function(){
      var p=2;// 初始化页面，点击事件从第二页开始
      var companyid = '{$wrz_list.id}';
      var flag=false;
      $(".hyh").click(function(){
          //初始状态，如果没数据return ,false;否则
          if($("#yhy_ul li").size()<5){
            window.location.reload(); 
            return false;
          }else{
            send();
          }
      })
      function send(){
          if(flag){
            return false;
          }
          $.ajax({
              type:'post',
              url:"__URL__/news_hyh",
              dataType:"json", 
              contentType: "application/x-www-form-urlencoded; charset=utf-8",
              data:{
                k:p,
                comment_id:companyid
                },
              beforeSend:function(){
                   $("#yhy_ul").append("<div id='load'></div>");
              },
              success:function(data){
                $("#yhy_ul").empty();
                if(data!=null){
                  $.each(data,function(i){
                    $("#yhy_ul").append("<li><a href='__APP__/Home/Article/article/id/"+data[i]['id']+"/company_id/"+data[i]['company_id']+"/p/1/'>"+data[i]['title']+"</a><span>"+data[i]['add_time']+"</span></li>");
                  })
                }else{
                    $(".hyh").val('已无更多数据');
                    flag=true;  
                }
              },
              complete:function(){
                     $("#load").remove();
              },
              dataType:'json'});
            p++;
      }
})
</script>
<script type="text/javascript" src="__PUBLIC__/Home/js/switch.js" ></script>
</html>